@use "/src/scss/mixins";
.all-owners-of-sel-davice {
  height: 100%;
  width: 100%;
  .all-owners-of-sel-davice-header {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: var(--backGround);
    border-bottom: 4px solid var(--gold);
    .add-new-btn {
      margin-left: 20px;
      @include mixins.userBtn;
    }
  }
  .all-owners-of-sel-davice-table {
    height: calc(100% - 50px);
  }
}
