@use "/src/scss/mixins";
.not-found {
  height: 100vh;
  width: 100vw;
  background-color: var(--backGround);

  span {
    font-size: 5vw;
    color: var(--notFound);
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .redirect-btn {
    @include mixins.redirectBtn;
  }
}
