<div class="reset-password-container">
  <div class="reset-password-header">
    <button class="reset-password-reset-btn" (click)="onSingleUser()">
      Edit User
    </button>
  </div>
  <div class="reset-password-content">
    <div class="reset-password-title">User ID: {{ eMail }}</div>
    <div class="reset-password-body">
      <form
        [formGroup]="resetPassword"
        (ngSubmit)="onFormSubmit()"
        class="reset-password-form"
      >
        <div class="reset-password-inputs">
          <mat-form-field class="new-password">
            <mat-label>New Password</mat-label>
            <input
              matInput
              formControlName="newPassword"
              [type]="newPasswordHide ? 'password' : 'text'"
            />
            <button
              type="button"
              mat-icon-button
              matSuffix
              (click)="newPasswordHide = !newPasswordHide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="newPasswordHide"
            >
              <mat-icon>{{
                newPasswordHide ? "visibility_off" : "visibility"
              }}</mat-icon>
            </button>
          </mat-form-field>

          <mat-form-field class="confirm-password">
            <mat-label>Confirm Password</mat-label>
            <input
              matInput
              formControlName="confirmPassword"
              [type]="confirmPasswordHide ? 'password' : 'text'"
            />
            <button
              type="button"
              mat-icon-button
              matSuffix
              (click)="confirmPasswordHide = !confirmPasswordHide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="confirmPasswordHide"
            >
              <mat-icon>{{
                confirmPasswordHide ? "visibility_off" : "visibility"
              }}</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div class="reset-password-generate-btn">
          <button type="button" (click)="onGeneratePass()">Generate</button>
        </div>

        <div class="reset-password-btn">
          <button type="submit" [disabled]="!resetPassword.valid">Reset</button>
        </div>
      </form>
    </div>
  </div>
</div>
