.line-chart-container {
  height: 100% !important;
  width: 100% !important;
  padding: 10px;
  border-radius: 10px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  .chart:hover {
    cursor: pointer;
  }
}
