.table {
  height: 100%;
  width: 100%;
  position: relative;

  .mat-elevation-z8 {
    height: 80%;
    box-shadow: none !important;
    overflow-y: scroll;
    mat-paginator {
      position: absolute;
      width: 100%;
      height: 10%;
      bottom: 0px;
      display: flex;
      justify-content: end;
    }
  }
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.fa-pen-to-square {
  cursor: pointer;
  color: var(--edit);
}

.fa-trash-can {
  cursor: pointer;
  color: var(--delete);
}
