<div class="change-password-container">
  <div class="change-password-content">
    <div class="change-password-header">
      <span>{{ userID }}</span>
    </div>
    <div class="change-password-body">
      <form
        [formGroup]="changePassword"
        (ngSubmit)="onFormSubmit()"
        class="change-password-form"
      >
        <div class="change-password-inputs">
          <mat-form-field class="password">
            <mat-label>Password</mat-label>
            <input
              matInput
              formControlName="password"
              [type]="passwordHide ? 'password' : 'text'"
            />
            <button
              type="button"
              mat-icon-button
              matSuffix
              (click)="passwordHide = !passwordHide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="passwordHide"
            >
              <mat-icon>{{
                passwordHide ? "visibility_off" : "visibility"
              }}</mat-icon>
            </button>
          </mat-form-field>

          <mat-form-field class="new-password">
            <mat-label>New Password</mat-label>
            <input
              matInput
              formControlName="newPassword"
              [type]="newPasswordHide ? 'password' : 'text'"
            />
            <button
              type="button"
              mat-icon-button
              matSuffix
              (click)="newPasswordHide = !newPasswordHide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="newPasswordHide"
            >
              <mat-icon>{{
                newPasswordHide ? "visibility_off" : "visibility"
              }}</mat-icon>
            </button>
          </mat-form-field>

          <mat-form-field class="confirm-password">
            <mat-label>Confirm Password</mat-label>
            <input
              matInput
              formControlName="confirmPassword"
              [type]="confirmPasswordHide ? 'password' : 'text'"
            />
            <button
              type="button"
              mat-icon-button
              matSuffix
              (click)="confirmPasswordHide = !confirmPasswordHide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="confirmPasswordHide"
            >
              <mat-icon>{{
                confirmPasswordHide ? "visibility_off" : "visibility"
              }}</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div class="change-password-btn">
          <button type="submit" [disabled]="!changePassword.valid">
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
