@use "/src/scss/mixins";

// ------------------

.change-password-container {
  width: 100%;
  height: calc(100% - 50px);
  .change-password-content {
    @include mixins.changePasswordForm;
    .change-password-header {
      margin: 0 auto;
      width: 70%;
      height: 20px;
      border-bottom: 2px solid var(--darkWhite) !important;
      color: var(--darkWhite);
      font-size: 16px;
      display: flex;
      justify-content: space-around;

      span {
        font-size: 17px;
        color: var(--darkWhite);
      }
    }
  }

  .change-password-inputs {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    mat-label {
      color: var(--white);
    }
    input {
      color: var(--white);
    }
  }
  .change-password-btn {
    button {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      @include mixins.formGroupBtn;
    }
  }
  .error-message {
    height: 50px;
    width: 100%;
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--darkWhite);
    font-size: 12px;
  }
}
