:root {
  // -----Main
  --backGround: #4e656f;
  --gold: #fcb21b;
  --accDenied: #e85d5d;
  --notFound: #8bbaf8;
  --forAdmin: #70a0ff;
  --delete: #e77070;
  --edit: #5da4de;

  // --- Another
  --ballot: #34454c;
  --moreBallot: #14262e;
  --white: #ffffff;
  --darkWhite: #d3d2d2;
  --lightDarkWhite: #f0f4fa;
  --darkGray: #8e96a5;
  --blue: #1a9de7;
  --darkBlue: #4e656f;
  --MoreDarkBlue: #3f5159;
  --black: #3c3f49;
  --green: #5ad362;
  --success: #34bf3d;
  --sucessText: #0a9b14;
  --alert: #ea9b28;
  --alertText: #e16d02;
  --error: #e85d5d;
  --errorText: #c20d0d;

  // Widget Colors
  --wgPink: #e48181;
}
